.container-fluid {
    background: url('./../../../../public/img/mountains.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

asl-google-signin-button {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}