<div class="row g-0 gy-3 gy-md-0 p-2 mt-2 container-todo-link">
    <div class="col-md-8 d-flex column-gap-3 container-link">
        <div class="container-icon">
            <img alt="Favicon for url"
                [title]="'item-link.info.page-icon'|translate"
                src="https://www.google.com/s2/favicons?domain={{item.urlOriginal}}&amp;sz=32">
        </div>
        <div class="d-flex flex-column">
            <a class="link short-link" target="_blank" [href]="app.getUrlShort(item.urlShorten)" [title]="'item-link.info.short-link'|translate">
                {{app.getUrlShort(item.urlShorten)}}
            </a>
            <a class="link long-link" target="_blank" [href]="item.urlOriginal" [title]="'item-link.info.long-link'|translate">
                {{item.urlOriginal}}
            </a>
            <span [title]="'item-link.info.date-created'|translate">
                <i class="bx bx-calendar-alt"></i>
                <span>{{item.date | dateFormat:'long'}}</span>
            </span>
            <span class="text-success fw-bold">
                {{'item-link.click' | translate}} {{totalClicks}}
            </span>
        </div>
    </div>
    <div class="col-md-4 d-flex flex-row flex-md-column justify-content-center align-items-center align-items-md-end align-self-center row-gap-1 column-gap-2">
        <app-button-copy [textToCopy]="app.getUrlShort(item.urlShorten)">
        </app-button-copy>
        <app-button-activate [state]="item.state"
                             (onChange)="switch($event)">
        </app-button-activate>
    </div>
</div>